extends layout

block content
  section.section-wrapper
    h1 Welcome to Aonye's Clubhouse

    div
      a(href=`/login`)
        button.color-change-button Login
      a(href=`signup`)
        button.color-change-button Not a member? Signup