doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/layout.css')
  script.
      function addSpin(e) {
        e.target.classList.remove('backSpin');
        e.target.classList.add('spin');
      }
      function removeSpin(e) {
        e.target.classList.remove('spin');
        e.target.classList.add('backSpin');
      }
    //-   function addContent(e) {
    //-     const push = document.querySelector('.push');
    //-     const newDiv = document.createElement('div');
    //-     const newContent = document.createTextNode(`Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    //-     sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
    //-     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    //-     Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    //-     Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 
    //-     laborum.`);
    //-     newDiv.append(newContent);
    //-     e.target.parentNode.insertBefore(newDiv, push);
    //-   }
  nav
    section(class='nav-wrapper')
        a(href='/')
            img(class='logo' src="/assets/images/clubhouse_4x1.png")
        div.nav-right
          if user !== undefined
            div.user-buttons
              a(href='/logout')
                img(class='nav-img-size margin-left' src='/assets/images/logout.png')
              a(href=`/users/${user._id}`)
                img(class='nav-img-size margin-left' src='/assets/images/account_icon.png')
            //- above is hidden if not logged in
            a(href='https://github.com/aonye')
              img(onmouseover="addSpin(event)" onmouseout="removeSpin(event)" class='github-logo margin-left' src='/assets/images/GitHub-Mark-64px.png')
        
  body
    div.wrapper
        block content
        //- button(onclick='addContent(event)') Click to test sticky footer - lorem ipsum
        div.push  
    footer
      span App created by Andy Ye, All Rights Reserved