extends layout

block content
  section.section-wrapper
    h1 Login Form

    div
      a(href=`signup`)
        button.color-change-button Not a member? Signup instead

    form(method='POST' action='')
      div.form-group
        label(for='username') Username: 
        input.form-control(type='text', name='username' required)
    
      div.form-group
        label(for='password') Password: 
        input.form-control(type='password', name='password' required)
    
      div.form-group
        label(for='confirmpw') Confirm Password: 
        input.form-control(type='password', name='confirmpw' required)

      button.color-change-button(type='submit') Submit