extends layout

block content
  section.section-wrapper
    script.

    h1 Signup for Clubhouse

    div
      a(href=`/login`)
        button.color-change-button Already have an account? Login

    form(method='POST' action='')
      div.form-group
        label(for='first_name') First Name: 
        input.form-control(type='text', name='first_name' minlength=1 maxlength=20 required='true' value=(undefined===user? '' : user.first_name))
      
      div.form-group
        label(for='last_name') Last Name:
        input.form-control(type='text', name='last_name' minlength=1 maxlength=20 required value=(undefined===user? '' : user.last_name))
      
      div.form-group
        label(for='username') Username (email): 
        input.form-control(type='email', name='username' minlength=1 maxlength=30 required value=(undefined===user? '' : user.username))
    
      div.form-group
        label(for='password') Password: 
        input.form-control(type='password', name='password' minlength=6 maxlength=30 required)
    
      div.form-group
        label(for='confirmpw') Confirm Password: 
        input.form-control(type='password', name='confirmpw' minlength=6 maxlength=30 required)
      
      div.form-group
        label(for='membership') Clubhouse Exclusive Membership Code: 
        input.form-control(type='text', name='membership')

      div.form-group
        label(for='admin_status') Admin status:
        select.form-control(type='select' placeholder='Select status' name='admin_status' required='true')
          if user
            for value in user.admin_array
              option(value=value selected=(value===admin_result ? 'selected' : false)) #{value}
          else   
            option(value='True') True
            option(value='False') False

      button.color-change-button(type='submit') Submit
    
    if errors
      ul.mb-50
        for error in errors
          li!= error.msg