extends layout

block content
  section.section-wrapper
    h1 Placeholder Userpage

    a(href='/login') Login
    a(href='/signup') SignUp

    if users !== undefined
      a(href='/logout') Logout

    form(method='POST' action='')
      div.form-group
        label(for='username') Username: 
        input.form-control(type='text', name='username')
    
      div.form-group
        label(for='password') Password: 
        input.form-control(type='password', name='password')
    
      div.form-group
        label(for='confirmpw') Confirm Password: 
        input.form-control(type='password', name='confirmpw')

      button.btn.btn-primary(type='submit') Submit