.msgs-cont-wrapper {
    background-color: white;
    height: 100%;
    min-height: 800px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2%;
}

.msgs-cont {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 80%;
    width: 90%;
    font-size: 16px;
    color: black;
    display: flex;
    flex-flow: column wrap;
}

.msgs-cont * {
    background-color: rgb(228, 230, 235);
    border-radius: 5%;
}

.msg-unit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 350px;
}

.msg-info { /*match the overflow textbox size */
    width: 300px;
}

.msg-info * { /*targets the actual textbox */
    overflow-wrap: break-word;
    inline-size: 300px;
}

.left-msg {
    align-self: flex-start;
}

.right-msg {
    align-self: flex-end;
}

.chat-acct-icon {
    border-radius: 50%;
}

.msg-header {
    font-weight: 600;
}

/* Messageboard form specific */
.msgboard-form-cont {
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textarea {
    min-height: 150px;
    font-family: sans-serif;
}